---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/sections/Header.astro";
import Hero from "../components/sections/Hero.astro";
import TeamProfiles from "../components/sections/TeamProfiles.astro";
import Services from "../components/sections/Services.astro";
import Gallery from "../components/sections/Gallery.astro";
import CtaBanner from "../components/sections/CtaBanner.astro";
import Faq from "../components/sections/Faq.astro";
import Partners from "../components/sections/Partners.astro";
import Footer from "../components/sections/Footer.astro";
import GoogleReviews from "../components/sections/GoogleReviews.astro";
import site from "../data/site.json";
import montblancReviews from "../data/montblanc.reviews.json";
import seo from "../data/seo.json";
---

<BaseLayout seo={seo}>
  <Header brand={site.brand} nav={site.header.nav} labels={site.header.labels} />
  <main id="contenido" class="pt-16 pb-0 lg:pt-20">
    <Hero data={site.hero} />
    <TeamProfiles data={site.about} />
    <Services data={site.services} />
    <Gallery data={site.gallery} />
    <GoogleReviews data={montblancReviews} copy={site.googleReviews} />
    <CtaBanner data={site.ctaBanner} />
    <Faq data={site.faq} />
    <Partners data={site.partners} />
  </main>
  <Footer brand={site.brand} contact={site.contact} nav={site.header.nav} footer={site.footer} />
</BaseLayout>
